<!-- <html>
<html lang="en">
<!-- <head> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script> -->
<!--     <script src="js/angular.min.js"></script>
    <script src="js/ag-grid-master/dist/ag-grid.js"></script>
    <script src="js/controller/dummyController.js"></script> -->
<!-- </head> -->
<!-- <body ng-app="example" ng-controller="exampleCtrl">
    <div ag-grid="gridOptions" class="ag-bootstrap" style="height: 100%;"></div>
</body>
</html> -->

<html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- <script src="js/ag-grid-master/dist/ag-grid.js"></script> -->
<script src="js/angular.min.js"></script>

<script src="js/ag-grid-master/dist/ag-grid.js"></script>
<script src="js/controller/dummyController.js"></script>

<head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>Wonderlabs</title>
    <!-- Description, Keywords and Author -->
    <meta name="abfamad" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- jQuery Gritter -->
    <link rel="stylesheet" href="css/jquery.gritter.css">
    <!-- Font awesome CSS -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <!-- Custom CSS -->
    <link href="css/sonic-style.css" rel="stylesheet">
</head>
<body ng-app="example" ng-controller="exampleCtrl">
<div >
<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" style="width: 100%;">
    <div class="container">
        <!-- Menu button for smallar screens -->
        <div class="navbar-header">
            
            <!-- <a href="index.html" class="navbar-brand"><h2>WONDERLABS</h2></a> -->
        </div>
        <!-- </nav> -->
    </div>
</div>

</div>

<!-- Main bar -->
<div class="mainbar">
<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 page-head-content">
                <div class="pull-left">
                    <h2>Curency Exchange Conversion</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<br>

<!-- Matter -->
<div class="matter">
<div class="container-fluid">

<div class="row">
    <div class="col-md-9">
    <div class="widget">
        <div class="widget-content">
          <div class="padd">

            <!-- Form starts.  -->

                <div class="alert alert-warn text-center" ng-show="data.message">
                    <a style="color: #D23F3F" value=""></a>
                </div>


                <form class="form-horizontal" role="form" ">
                    <div class="form-group">
                      <label class="col-md-3 control-label">Nominal *</label>
                      <div class="col-md-6">
                        <input type="text" required="true" class="form-control" ng-model="nominal" only-digits>
                      </div>
                    </div>
                    
                    <div class="form-group" >
                      <label class="col-md-3 control-label">Currency *</label>
                        <div class="col-md-2" >
                            <select class="form-control" required="true" ng-model="currency"  ng-blur="getCurrencyDetail()">
                              <option>IDR</option>
                              <option>USD</option>
                              <option>SGD</option>
                              <option>JYP</option>
                            </select>
                      </div>
                      
                    </div>

                    <div ag-grid="gridOptions" class="ag-bootstrap" style="height: 100%;"></div>
                       
                </form>
                <div class="clearfix"></div>
          </div>
        </div>
    </div>
</div>
    
</div>
</div>
</div>
<!--/ Matter ends -->
</div>
<!--/ Mainbar ends -->
<div class="clearfix"></div>

</div>

<!-- <script type="text/javascript">
  accounting.formatMoney(12345678);
</script> -->

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jQuery UI -->
<script src="js/jquery-ui.min.js"></script>

<!-- Respond JS for IE8 -->
<script src="js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="js/html5shiv.js"></script>


    </div>

</body>
</html>